<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Gerar Postagem </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScientificArticleSimplifier.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/icons8-artigo-32.png">
</head>

<style>
    footer a {
        text-decoration: none; /* remove underline */
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand gradient-custom" asp-area="" asp-page="/Index">Gerador de postagem</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex align-items-center justify-content-center flex-nowrap">
            <div>
                &copy; 2025 - Edinaelson Santos
                
                    <a href="https://www.linkedin.com/in/edinaelson-g-037633124/" target="_blank">
                        <img src="~/linkedin.svg" alt="In" width="24" height="24">
                    </a>
                    <a href="https://www.instagram.com/edi_cifer/" target="_blank">
                        <img src="~/insta.svg" alt="Insta" width="24" height="24">
                    </a>
                    <a href="https://www.facebook.com/edinaelson.santos.5/" target="_blank">
                        <img src="~/face.svg" alt="Face" width="24" height="24">
                    </a>
                    <a href="https://github.com/Edinaelson/" target="_blank" >
                        <img src="~/github.svg" alt="git" width="24" height="24">
                    </a>
               
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>